{% extends 'BoaSafra/base.html' %}

{% block content %}
{% load static %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Gráficos</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item">Gráficos</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <p></p>

    <section class="section">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">  
            <div class="card-body">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  {% for ano in anos %}
                  <li><a class="dropdown-item" href="{% url 'graficos' ano intervalo %}">{{ ano }}</a></li>
                  
                  {% endfor %}
                </ul>
              </div>

              <h5 class="card-title">Gráfico de linha</h5>
              
              <!-- Line Chart -->
              <canvas id="lineChart" style="max-height: 300px;"></canvas>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#lineChart'), {
                    type: 'line',
                    data: {
                      labels: {{dias}},
                      datasets: [{
                        label: {{ano}},
                        data: {{chuvas}},
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                      }]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });
                });
              </script>
              <!-- End Line CHart -->

            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="card">

            <div class="card-body">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  {% for ano in anos %}
                  <li><a class="dropdown-item" href="{% url 'graficos' ano intervalo %}">{{ ano }}</a></li>
                  
                  {% endfor %}
                </ul>
              </div>
              <h5 class="card-title">Gráfico de barras<span> | meses</span> </h5>

              <!-- Bar Chart -->
              <canvas id="barChart" style="max-height: 300px;"></canvas>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#barChart'), {
                    type: 'bar',
                    data: {
                      labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto','Setembro', 'Outubro', 'Novembro','Dezembro'],
                      datasets: [{
                        label: {{ano}},
                        data: {{lista_meses_chuva}},
                        backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(255, 159, 64, 0.2)',
                          'rgba(255, 205, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(201, 203, 207, 0.2)',
                          'rgba(109, 76, 65, 0.2)',
                          'rgba(239, 83, 80, 0.2)',
                          'rgba(57, 73, 171, 0.2)',
                          'rgba(46, 125, 50, 0.2)',
                          'rgba(191, 54, 12, 0.2)'
                        ],
                        borderColor: [
                          'rgb(255, 99, 132)',
                          'rgb(255, 159, 64)',
                          'rgb(255, 205, 86)',
                          'rgb(75, 192, 192)',
                          'rgb(54, 162, 235)',
                          'rgb(153, 102, 255)',
                          'rgb(201, 203, 207)',
                          'rgba(109, 76, 65)',
                          'rgba(239, 83, 80)',
                          'rgba(57, 73, 171)',
                          'rgba(46, 125, 50)',
                          'rgba(191, 54, 12)'
                        ],
                        borderWidth: 1
                      }]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });
                });
              </script>
              <!-- End Bar CHart -->

            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li><a class="dropdown-item" href="{% url 'graficos' ano 10 %}">10 últimos anos</a></li>
                  <li><a class="dropdown-item" href="{% url 'graficos' ano 20 %}">20 últimos anos</a></li>
                  <li><a class="dropdown-item" href="{% url 'graficos' ano qtd_anos %}">Todos os anos</a></li>
                </ul>
              </div>
              <h5 class="card-title">Gráfico de barras<span> | anos</span></h5>

              <!-- Bar Chart -->
              <canvas id="grafBarAno" style="max-height: 300px;"></canvas>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#grafBarAno'), {
                    type: 'bar',
                    data: {
                      labels: {{anos}},
                      datasets: [{
                        label: {{intervalo}}+' últimos anos',
                        data: {{lista_chuva_anos}},
                        backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(255, 159, 64, 0.2)',
                          'rgba(255, 205, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(173, 20, 87, 0.2)',
                          'rgba(78, 52, 46, 0.2)',
                          'rgba(123, 31, 162, 0.2)',
                          'rgba(251, 192, 45, 0.2)'
                          
                        ],
                        borderColor: [
                          'rgb(255, 99, 132)',
                          'rgb(255, 159, 64)',
                          'rgb(255, 205, 86)',
                          'rgb(75, 192, 192)',
                          'rgb(54, 162, 235)',
                          'rgb(153, 102, 255)',
                          'rgb(173, 20, 87)',
                          'rgb(78, 52, 46)',
                          'rgb(123, 31, 162)',
                          'rgb(251, 192, 45)'
                          
                        ],
                        borderWidth: 1
                      }]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });
                });
              </script>
              <!-- End Bar CHart -->

            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Porcentagens<span> | todos os anos</span> </h5>

              <!-- Pie Chart -->
              <canvas id="pieChart" style="max-height: 300px;"></canvas>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#pieChart'), {
                    type: 'pie',
                    data: {
                      labels: [
                        'Nublado',
                        'Chuva',
                        'Sol'
                      ],
                      datasets: [{
                        label: 'Tempo',
                        data: {{lista_tempo}},
                        backgroundColor: [
                          'rgb(104, 104, 106)',
                          'rgb(54, 162, 235)',
                          'rgb(255, 205, 86)'
                        ],
                        hoverOffset: 4
                      }]
                    }
                  });
                });
              </script>
              <!-- End Pie CHart -->

            </div>
          </div>
        </div>
        <!-- Otro grafico de pizza -->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Porcentagens<span> | {{ano}}</span></h5>

              <!-- Pie Chart -->
              <canvas id="pizza" style="max-height: 300px;"></canvas>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#pizza'), {
                    type: 'pie',
                    data: {
                      labels: [
                        'Nublado',
                        'Chuva',
                        'Sol'
                      ],
                      datasets: [{
                        label: 'Tempo anual',
                        data: {{lista_tempo_ano}},
                        backgroundColor: [
                          'rgb(104, 104, 106)',
                          'rgb(54, 162, 235)',
                          'rgb(255, 205, 86)'
                        ],
                        hoverOffset: 4
                      }]
                    }
                  });
                });
              </script>
              <!-- End Pie CHart -->

            </div>
          </div>
        </div>
        <!-- fin-->
      </div>
    </section>

  </main><!-- End #main -->





{% endblock content %}